footer.bg-dark.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0.text-white CNC Auto Service &amp; Used Tires &copy; 2024
            .col-auto
                span.text-white.me-2
                    i.bi.bi-geo-alt-fill
                    |  551 Pleasant Hill Rd NW, Suite A-1, Lilburn, GA 30047
            .col-auto
                a.link-light.small(href='tel:+17709253106') (770) 925-3106
                span.text-white.mx-1 &middot;
                a.link-light.small(href='contact.html') Contact
