nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container.px-5
        a.navbar-brand(href='index.html') CNC Auto Service
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link(href='index.html') Home
                li.nav-item
                    a.nav-link(href='about.html') Services
                li.nav-item
                    a.nav-link(href='faq.html') FAQ
                li.nav-item
                    a.nav-link(href='contact.html') Contact
            a.btn.btn-primary.ms-3(href='tel:+17709253106') Call Now
