doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Frequently asked questions about CNC Auto Service in Lilburn, GA. Auto body, tires, brakes, emissions, and more.')
        meta(name='author', content='CNC Auto Service')

        title FAQ | CNC Auto Service Lilburn, GA

        include includes/css.pug

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            include includes/navbar.pug

            header.bg-dark.py-5
                .container.px-5
                    .row.justify-content-center
                        .col-lg-8.text-center.text-white
                            h1.display-5.fw-bolder.mb-3 Frequently Asked Questions
                            p.lead.text-white-50 Answers to common questions about our services.

            section.py-5
                .container.px-5.my-5
                    .row.justify-content-center
                        .col-lg-8
                            .accordion#faqAccordion
                                .accordion-item
                                    h2.accordion-header
                                        button.accordion-button(type='button', data-bs-toggle='collapse', data-bs-target='#faq1') Do you work on all makes and models?
                                    #faq1.accordion-collapse.collapse.show(data-bs-parent='#faqAccordion')
                                        .accordion-body.text-muted Yes! We service all domestic and foreign makes and models - cars, trucks, and SUVs.
                                .accordion-item
                                    h2.accordion-header
                                        button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#faq2') Do you offer used tires?
                                    #faq2.accordion-collapse.collapse(data-bs-parent='#faqAccordion')
                                        .accordion-body.text-muted Absolutely. We carry a wide selection of quality used tires at affordable prices, as well as new tires from major brands.
                                .accordion-item
                                    h2.accordion-header
                                        button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#faq3') Do you do Georgia emissions testing?
                                    #faq3.accordion-collapse.collapse(data-bs-parent='#faqAccordion')
                                        .accordion-body.text-muted Yes, we are a certified emissions testing station. We can test your vehicle and help with any repairs needed to pass.
                                .accordion-item
                                    h2.accordion-header
                                        button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#faq4') What are your hours?
                                    #faq4.accordion-collapse.collapse(data-bs-parent='#faqAccordion')
                                        .accordion-body.text-muted We are open Monday through Friday 9:00 AM - 6:00 PM, and Saturday 9:00 AM - 4:00 PM. We are closed on Sundays.
                                .accordion-item
                                    h2.accordion-header
                                        button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#faq5') Do I need an appointment?
                                    #faq5.accordion-collapse.collapse(data-bs-parent='#faqAccordion')
                                        .accordion-body.text-muted Walk-ins are welcome! You can also call ahead at (770) 925-3106 to let us know you're coming.
                                .accordion-item
                                    h2.accordion-header
                                        button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#faq6') Where are you located?
                                    #faq6.accordion-collapse.collapse(data-bs-parent='#faqAccordion')
                                        .accordion-body.text-muted We're at 551 Pleasant Hill Rd NW, Suite A-1, Lilburn, GA 30047. Easy to find off Pleasant Hill Rd.

        include includes/footer.pug

        include includes/scripts.pug
